<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-icon wow fadeIn" data-wow-delay="0.3s">
                    <li>
                        <a href="https://github.com/IzaiasLima?tab=repositories" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/izaiasmlima/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>

                    </li>
                    <li>
                        <a href="https://www.instagram.com/izaiasmlima/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>

                <p class="wow bounceIn">Copyright &copy; {{ time.Now.Year }}
                    <span>Izaias Lima</span><br>
                    Design:&nbsp;<a href="https://templatemo.com" target="_blank"
                        rel="nofollow noopener noreferrer">&nbsp;<span>Workforce&nbsp;by&nbsp;templatemo</span>
                    </a>
                    &#8226;&nbsp;Images:&nbsp;<a href="https://freepik.com" target="_blank"
                        rel="nofollow noopener noreferrer">&nbsp;<span>Freepik.com</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- <script type="text/javascript">
    if (typeof navigator.serviceWorker !== "undefined") {
      navigator.serviceWorker.register("/js/service-worker.js")
    }
  </script> -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>

{{ range .Site.Params.custom_js -}}
<script type="text/javascript" src="{{ . | absURL }}.js"></script>
{{- end }}