<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-icon wow fadeIn" data-wow-delay="0.3s">
                    <li><a href="#" class="fab fa-github"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                </ul>
                <p class="wow bounceIn">Copyright &copy; {{ time.Now.Year }} <span>Izaias Lima</span>.
                    Design:
                    <a href="https://templatemo.com" target="_blank" rel="nofollow noopener noreferrer">
                        <span>Templatemo</span>
                        <!-- Workforce CSS Template	https://templatemo.com/tm-461-workforce -->
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

{{ range .Site.Params.custom_js -}}
<script type="text/javascript" src="{{ . | absURL }}.js"></script>
{{- end }}