<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-icon wow fadeIn" data-wow-delay="0.3s">
                    <li>
                        <a href="https://github.com/IzaiasLima?tab=repositories" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/izaiasmlima/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>

                    </li>
                    <li>
                        <a href="https://www.instagram.com/izaiasmlima/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <p class="wow bounceIn">Copyright &copy; {{ time.Now.Year }} <span>Izaias Lima</span>.
                    Design:
                    <a href="https://templatemo.com" target="_blank" rel="nofollow noopener noreferrer">
                        <span>Templatemo</span>
                        <!-- Workforce CSS Template	https://templatemo.com/tm-461-workforce -->
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

{{ range .Site.Params.custom_js -}}
<script type="text/javascript" src="{{ . | absURL }}.js"></script>
{{- end }}