<!-- <ul class="filter-wrapper clearfix">
    <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
    <li><a href="#" class="opc-main-bg" data-filter=".graphic">Graphic</a></li>
    <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
</ul> -->

<div class="iso-box-section">
    <div class="iso-box-wrapper col4-iso-box">

        <div class="iso-box graphic photoshop wallpaper col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio-thumb">
                <img src="images/portfolio-img-1.png" class="fluid-img" alt="portfolio img">
                <div class="portfolio-overlay">
                    <div class="portfolio-description">
                        <h4>Project SIEST</h4>
                        <p>
                            Participou da migração do SIEST do datacenter do SERPRO para os servidores internos do
                            Ministério do Planejamento e desenvolveu módulos adicionais do sistema em Java, JSF e
                            Spring.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="iso-box graphic wallpaper col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio-thumb">
                <img src="images/portfolio-img-2.jpg" class="fluid-img" alt="portfolio img">
                <div class="portfolio-overlay">
                    <div class="portfolio-description">
                        <h4>Geprod</h4>
                        <p>
                            Coordenou o desenvolvimento do Portal Geprod (Java, Spring e Angular). Apenas uma
                            fração desse sistema é acessível ao cidadão. A parte gerencial é privativa
                            do Ministério do Meio Ambiente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio-thumb">
                <img src="images/portfolio-img-3.png" class="fluid-img" alt="portfolio img">
                <div class="portfolio-overlay">
                    <div class="portfolio-description">
                        <a href="/adbethel" class="fa fa-search"></a>
                        <a href="https://www.adbethel.com.br" class="fa fa-link" target="_blank"></a>
                        <h4>Site da AD Bethel</h4>
                        <p>
                            Desenvolveu e mantém o site institucional da Igreja Assembleia de Deus Bethel de Águas
                            Claras, Brasília (DF).
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="iso-box graphic col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio-thumb">
                <img src="images/portfolio-img-4.png" class="fluid-img" alt="portfolio img">
                <div class="portfolio-overlay">
                    <div class="portfolio-description">
                        <a href="/biblia-livre" class="fa fa-search"></a>
                        <a href="https://github.com/IzaiasLima/Biblia_Livre_Frontend" class="fa fa-link"
                            target="_blank"></a>
                        <h4>Bíblia Livre</h4>
                        <p>
                            Desenvolveu o aplicativo Bíblia Livre para Android, usando Flutter e Firebase. O código está
                            disponível publicamente no Github.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio-thumb">
                <img src="images/portfolio-img-5.png" class="fluid-img" alt="portfolio img">
                <div class="portfolio-overlay">
                    <div class="portfolio-description">
                        <a href="/adbethel" class="fa fa-search"></a>
                        <a href="https://www.adbethel.com.br" class="fa fa-link" target="_blank"></a>
                        <h4>Pastor auxiliar</h4>
                        <p>Atua como pastor auxiliar na Assembléia de Deus Bethel de
                            Águas Claras, há mais de 10 anos, sob a presidência do pastor Pedro
                            Luiz Cortezi Botelho.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="iso-box graphic photoshop col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio-thumb">
                <img src="images/portfolio-img-6.png" class="fluid-img" alt="portfolio img">
                <div class="portfolio-overlay">
                    <div class="portfolio-description">
                        <a href="/novavida" class="fa fa-search"></a>
                        <a href="https://www.inovavida.com.br/nossa-historia" class="fa fa-link" target="_blank"></a>
                        <h4>Membro fundador</h4>
                        <p>Foi membro fundador da Igreja de Nova Vida de Águas CLaras, na gestão
                            do pastor Inezilo do Nascimento Cunha.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>