<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">

{{- partial "head.html" . -}}

<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

    {{- partial "menu_bar.html" . -}}

    <!-- start home -->
    <section id="home">
        <div class="overlay">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="images/slider/slide1.jpg" alt="Slide 1">
                        <div class="slider-caption">
                            <div class="templatemo_homewrapper">
                                <h3 class="wow bounceIn">Desenvolvimento de Sistemas</h3>
                                <h1 class="wow bounce">FULLSTACK DEVELOPER</h1>
                                <h2>
                                    <span class="wow fadeIn" data-wow-delay="0.3s">WEB,</span>
                                    <span class="wow fadeIn" data-wow-delay="0.6s">MOBILE,</span>
                                    <span class="wow fadeIn" data-wow-delay="0.9s">APIS</span>
                                </h2>
                                <a href="#portfolio" class="smoothScroll templatemo-slider-btn btn btn-default">Saiba
                                    mais</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/slider/slide2.jpg" alt="Slide 2">
                        <div class="slider-caption">
                            <div class="templatemo_homewrapper">
                                <h2>Teologia</h2>
                                <h1>Esboços e Sermões</h1>
                                <h3>Reflexões sobre temas bíblicos</h3>
                                <a href="#featured" class="smoothScroll templatemo-slider-btn btn btn-default">Tenho
                                    interesse</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- end home -->
    <!-- start featured -->
    <section id="featured">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow bounceIn">
                    <h2>Destaques</h2>
                    <hr>
                    <h4>artigos sugeridos para você</h4>
                </div>

                {{- partial "top_posts.html" . -}}

            </div>
        </div>
    </section>
    <!-- end featured -->
    <!-- start about -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceIn">
                    <h2>Sobre</h2>
                    <hr>
                    <h4>quem escreve neste site</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
                    <h3 class="about-title media-heading">Formação e experiência</h3>
                    <p>
                        {{ $aboutContent := readFile "layouts/about.md" }}
                        {{ $aboutContent | markdownify }}
                    </p>
                </div>

                <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.3s">
                    <span class="text-uppercase">PASTOR EVANGÉLICO 2005-2024</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65"
                            aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                    </div>
                    <span class="text-uppercase">DESENVOLVEDOR SÊNIOR (BCO. BRASIL) 2003-2015</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                    </div>
                    <span class="text-uppercase">DESENVOLVEDOR WEB (MIN. PLANEJAMENTO) 2015-2019</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65"
                            aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                    </div>
                    <span class="text-uppercase">COORD. PROJETO TI (MIN. MEIO AMBIENTE) 2021-2022</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65"
                            aria-valuemin="0" aria-valuemax="100" style="width: 5%;"></div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- end about -->
    <!-- start portfolio -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wow bounceIn">
                        <h2 class="wow bounceIn">Portfólio</h2>
                        <hr>
                        <h4>nossa contribuição ao longo do tempo</h4>
                    </div>
                    <div class="iso-section wow fadeIn" data-wow-delay="0.6s">
                        {{- partial "portfolio.html" . -}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end portfolio -->
    <!-- start contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="wow bounceIn">
                        <h2 class="wow bounceIn">Contato</h2>
                        <hr>
                        <h4>fale conosco, queremos conhecer você</h4>
                    </div>

                    <form id="contact-form">
                        <div class="col-md-4 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                            <input type="text" placeholder="Name" name="user_name" class="form-control">
                        </div>
                        <div class="col-md-8 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                            <input type="email" placeholder="Email" name="user_email" class="form-control">
                        </div>
                        <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                            <textarea name="message" class="form-control" rows="5" placeholder="Mensagem"></textarea>
                        </div>
                        <div class="col-md-offset-3 col-sm-offset-3 col-sm-6 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                            <input type="submit" value="Enviar Mensagem" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact -->

    {{- partial "footer.html" . -}}

</body>

</html>