{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ if in .Params.category "outlines" }}
<p>
    <i>Este texto é apenas um esboço de sermão. Você pode utilizá-lo e adapta-lo sem restrições. Nem sempre fornecemos
        respostas, apenas uma trilha do que será desenvolvido por você com a ajuda do Espírito Santo.</i>
</p>
{{ end }}

{{ if .Date}}
<p>
    <time datetime="{{ .Date }}">
        {{ .Date | time.Format site.Params.theme_config.date_format }}
    </time>
</p>
{{ end }}

{{ if .Params.toc }}
<aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
    {{ .TableOfContents }}
</aside>
{{ end }}

<main aria-label="Content">
    {{ if .Params.banner }}
    <div class="col-md-5 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
        <div class="media-card">
            <img src="{{ .Params.banner }}" class="img-responsive" alt="imagem ilustrativa">

            {{ if .Params.caption }}
            <p class="caption">{{ .Params.caption }}</p>
            {{ end }}
        </div>

        {{ if .Params.copyright }}
        <div id="copyright" class="justify-content-end">
            <a href="{{ .Params.copyright }}" target="_blank">
                <span class="fa fa-camera"></span>
                {{ .Params.copyright }}
            </a>
        </div>
        {{ end }}
    </div>

    {{ end }}

    {{ .Content }}
</main>

<div class="text-center">
    {{ with .GetTerms "tags" }}
    <h3>Temas similares </h3>
    <ul class="filter-wrapper clearfix">
        {{ range . }}
        <li><a class="tags" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>

{{ end }}