{{ define "main" }}

<div class="col-md-12 text-center wow bounceIn">
    <h2 class="title tags">Sermões</h2>
</div>

<div class="col-md-offset-1 col-md-10 col-sm-12">
    <p>
        Compartilhamos aqui esboços de alguns de nossos sermões. Você pode reutilizá-los e adapta-los, a seu critério.
        Lembre-se que são apenas roteiros. Algumas ideias foram apenas sugeridas e as respostas nem sempre são
        fornecidas. Aonde você chegará depende da direção do Espírito Santo.
    </p>
    <hr>
</div>

{{ range .Site.Pages }}
{{ if in .Params.category "outlines" }}

<div class="col-md-offset-4 col-md-4 col-sm-12 text-center">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
</div>

{{ end }}
{{ end }}
{{ end }}